ul {
  list-style: none;
  padding: 0;
}

li {
  margin: 10px 0;
  padding: 10px;
  border-bottom: 1px solid #ddd;
}

li:last-child {
  border-bottom: none;
}

p {
  margin: 0 0 10px;
  font-size: 1.2em;
}

audio {
  width: 100%;
  outline: none;
  border: 2px solid #1db954; /* Spotify green */
  border-radius: 5px;
}
