@font-face {
  font-family: "Angst Bold";
  src: url("../fonts/Angst-Bold.otf") format("opentype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Manrope";
  src: url("../fonts/Manrope-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Manrope";
  src: url("../fonts/Manrope-Bold.ttf") format("truetype");
  font-weight: bold;
  font-style: normal;
}

body {
  font-family: "Manrope", Arial, sans-serif, "Angst Bold";
  margin: 0;
  height: 100vh;
  width: 100%;
}

.container {
  display: flex;
  height: 100vh;
  color: #262626;
  background-color: #e94b34;
}

.flex-cover {
  display: flex;
  height: 100vh;
  width: 100%;
}

.playlist {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100vh;
  width: 100%;
}

.title-card {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;

  height: 200px;
  flex: 0 0 200px;
  padding: 20px 40px 20px 40px;
}

.selection {
  flex-grow: 1;
  width: 100%;
  overflow-y: auto;
  box-sizing: border-box;
}

.track-controls {
  height: 400px;
  width: auto;
  padding: 0px 20px 0px 20px;
  background-color: #f2f3f4;
  display: none; /* Hide the controls initially */
  justify-content: center;
  align-items: center;
}

#album-art {
  display: flex;
  height: 100%;
  width: 100%;
  overflow: hidden;
}

#album-image {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

#current-track-controls {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100px;
  width: 100%;
}

.full-height {
  width: 100%;
  overflow-y: auto;
}

h1 {
  font-size: 60px;
  margin: 0;
  font-family: "Angst Bold", Arial, sans-serif;
}

p {
  margin: 0;
  font-family: "Manrope", Arial, sans-serif;
  font-weight: normal;
}

ul {
  list-style-type: none;
  padding: 0;
  font-family: "Manrope", Arial, sans-serif;
}

li.list-item {
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom: 1px solid #262626;
  padding: 10px 60px 10px 40px;
}

li.list-item:hover {
  background-color: #db4731;
}

.play-pause-button {
  padding: 10px;
  background: none;
  border: none;
  cursor: pointer;
}

.play-pause-button img {
  width: 30px;
  height: 30px;
}

.play-pause-button:hover img {
  opacity: 0.8;
}

.track-info {
  display: flex;
  align-items: center;
  gap: 20px;
}

audio {
  width: 100%;
  height: 40px;
  margin: 0;
}
